autogen-agentchat
autogen-core
autogen-ext
python-dotenv
openai
tiktoken
autogen-ext[http-tool]
autogen-ext[openai]
langchain-community
langchain
docker
autogen-ext[docker]
streamlit==1.38.0
autogen-ext[mcp]
autogen-ext[ollama]
flask
pyngrok
flask-cors